<h2>To save to a project</h2>
<button class="register" href="/register">Register</button>or Login
<form>
  <div class="container">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Email" name="username" required><br>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required><br>
    <button type="submit">Login</button><br>
    <label>
      <input type="checkbox" checked="checked" name="remember">Remember me
    </label>
  </div>
</form>
