<div style="text-align:center">
  <h1>
     Welcome to {{ title }}!
  </h1>
</div>

<form>
  <fieldset>
    <legend>Generate Random Elements:</legend>
    <div class="generator-choices" id="choice1">
      <input type="checkbox" id="number" name="generate-random" value="number">
      <label for="number">Random Number</label>
    </div>
    <div class="generator-choices" id="choice2">
      <input type="checkbox" id="color" name="generate-random" value="color">
      <label for="color">Random Color</label>
    </div>
    <div class="generator-choices" id="choice3">
      <input type="checkbox" id="word" name="generate-random" value="word">
      <label for="word">Random Word</label>
    </div>
    <div class="generator-choices" id="choice4">
      <input type="checkbox" id="phrase" name="generate-random" value="phrase">
      <label for="phrase">Random Phrase</label>
    </div>
    <div class="generator-choices" id="choice5">
      <input type="checkbox" id="instruction" name="generate-random" value="instruction">
      <label for="instruction">Random Instruction</label>
    </div>
    <div id="generator-submit">
      <input type="submit" value="Generate">
    </div>

  </fieldset>
</form>

<h2>To save to a project</h2>
<button class="register">Register</button>or Login
<form>
  <div class="container">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Email" name="username" required><br>
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required><br>
    <button type="submit">Login</button><br>
    <label>
      <input type="checkbox" checked="checked" name="remember">Remember me
    </label>
  </div>
</form>


