.btn {
  background: #e625a6;
  color: #fff;
  padding: 10px;
  font-size:1.5em;
  margin: 10px 0;
  
}

.spacer {
  height: 50px;
}

.btn:hover {
  background: #ffb61c;
}

h1, 
h2,
h3,
h4,
form,
p,
label,
#text {
  color: #fff;
  font-family: monospace;
}

.navbar.navbar-expand {
  background: #1207a1;
  font-family: monospace;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ffb61c;
}

.form-title {
  font-size: 2em;
}

.form-check-label {
  padding: 20px 0;
  font-size: 1.5em;
}

.form-check-input {
  position: relative;
  width: 100px;
  height: 40px;
  vertical-align: middle;
  
}

.form-check.generator-choices {
  padding: 5px;
  
}

.generatedResult {
  padding: 10px;
  font-size: 2em;
  border: 2px solid #fff;
  margin: 10px;
  
}
body {
  display: flex;
  align-items: center;
  background: #37474F;
  font-family: monospace;
  color: #cfd8dc;
  justify-content: center;
  font-size: 20px;
}

.message-box {
  text-align: center;
}

a {
  color: azure;
}

.field {
  margin: 10px;
}

input {
  font-family: monospace;
  font-size: 20px;
  border: none;
  background: #1c232636;
  color: #CFD8DC;
  padding: 7px;
  border: #4c5a61 solid 2px;
  width: 300px;
}

.submit-btn {
  width: 100%
}

.title {
  margin: 10px 0px 20px 10px
}

#error-message {
  color: #E91E63;
  display: block;
  margin: 10px;
  font-size: large;
  max-width: fit-content;
}